
body{
    background-color: antiquewhite;
}

h1{
   text-align: center;
   font-family: 'Sacramento', cursive;
   font-size: 400%;
   background-color: rgba(182, 132, 98, 0.719);
   /* text-decoration: overline; */
   text-decoration: underline ;
}


/* --------------------------Input---------------------------------- */

.inputField{
   margin-bottom:3%;
   text-align: center;
   font-family: 'Nanum Pen Script', cursive;
   font-size: 120%;
   width: 100%;
   padding-left: 40%;
}

#inputTask{
   width: 30%;
   border: 1px solid black;
   border-radius: 5px;
}


.addTask{
   background-color: rgb(139, 108, 82);
   font-size: 70%;
   color:white
}

/* ------------------------Output------------------------------------ */

.headerOfList{
   margin: 0px 30%;
   background-color: rgba(182, 132, 98, 0.719);
   height: 30px;
   border-top: 2px solid black;
   border-left: 2px solid black;
   border-right: 2px solid black;
   border-top-left-radius: 30px;
   border-top-right-radius:30px;
   text-align: center;
}

li{
   list-style-type: none;
   font-family: 'Nanum Pen Script', cursive;
   font-size: 100%;
   word-wrap: break-word;
   border-radius: 10px;
}

.output{
   border: 2px solid black;
   text-align: center;
   padding-right: 2.5%;
   padding-top: 2.5%;
   margin: 0px 30%;
 }
 
.beforeCheck{
   text-align: left;
   padding: 0.5%;
   background-color: white;
   margin: -1.5% 0px;
   padding-left:10px;
}

#deleteBtn{
   margin-right: 10px;
}

.taskOutBtn{
   padding-bottom: 0px;
   padding-top: 0px;
   position: relative;
   float: right;
   margin: 1px 1px; 
   display: flex; 
   font-size: 90%;
   text-align: center;
}

.textTask{
   text-decoration: line-through;
   background-color: lightgray;
   color: gray;
   margin-left:40px;
}


/* ------------------------Footer------------------------------------ */

footer{
   font-family: 'Nanum Pen Script', cursive;
   margin: 5% 0px ;
   background-color: rgba(114, 98, 87, 0.719);
   text-align: right;
   padding-right: 3%;
}

